/*
    Student Name: Amir Maharjan
    Student ID: 104088013

    This file is styling for whole project
 */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.heading {
    color: #1e90ff;
    text-align: center;
    margin-top: 20px;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav li a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #999; /* Even less dark grey background */
    color: purple; /* Purple text */
    border-radius: 5px;
}

nav li a:hover {
    background-color: #888; /* Darken the background on hover */
}

.subHeading {
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.requiredField {
    color: red;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

form input[type="email"],
form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 15px;
}

form button {
    background-color: #1e90ff;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

form button:hover {
    background-color: #0056b3;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #1e90ff;
    color: white;
    margin: 0 10px;
}

button:hover {
    background-color: #0056b3;
}

#loginMessage, #registrationMessage {
    margin-top: 20px;
    color: red;
}

a {
    color: red;
    text-decoration: underline;

}
